html, body, .view {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.carousel {
    height: 100%;
}
.carousel .carousel-inner {
    height: 100%;
}
.carousel .carousel-inner .carousel-item, .carousel .carousel-inner .active {
    height: 100%;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.2);
}
.top-nav-collapse {
    background-color: #fff;
}

.top-nav-collapse .nav-item .nav-link{
    color: #000 !important;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #fff;
    }
    .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
        color: #000 !important;
    }
}

.navbar .active{
    background-color: transparent !important;
    border-bottom: 3px solid #fac81a;
    color: #000 !important;
}

.navbar a{
    font-size: 16px;
}

.bg-image{
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
    background-image: url('../img/backgrounds/pattern2.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 2000px 350px;
    position: absolute;
    width: 100%;
    z-index: 3;
    margin-top: -170px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.slide-bg{
    background-repeat: no-repeat;
    background-size: cover;
}

#first-slide{
    background-image: url('../img/backgrounds/first-slide.jpg');
}

#second-slide{
    background-image: url('../img/backgrounds/second-slide.jpg');
}

#video{
    background: url('../img/backgrounds/video.jpg') no-repeat center center fixed;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#footer{
    background: url('../img/backgrounds/footer.jpg') no-repeat center center;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#project-bg{
    background: url('../img/backgrounds/residence.jpg') no-repeat center center;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#depoiments-bg{
    background: url('../img/backgrounds/depoiments.jpg') no-repeat center center fixed;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#budget-bg{
    background: url('../img/backgrounds/budget.jpg') no-repeat center center fixed;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#contact-bg{
    background: url('../img/backgrounds/contact.jpg') no-repeat center center fixed;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


#residence-content, #comercial-content, #condominium-content, #rural-content{
    display: none;
}

.carousel-control-prev, .carousel-control-next {
    width: 7% !important;
}

.pic{
    transition: transform .2s;
}

.pic:hover {
    transform: scale(0.9);
}

.more-btn:hover{
    background-color: #fff !important;
    color: #fac81a !important;
}

.whatsapp-floating {
    z-index: 4 !important;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 5px;
    left: 5px;
    background-color: #0C9;
}

.slide-title{
    font-weight: bold;
    font-size: 50px;
}

.slide-text{
    font-size: 43px;
    font-weight: bold
}

.lumen-data{
    position: absolute;
    margin-top: -50px;
    z-index: 3;
}

.swiper-slide {
    text-align: center;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 5px !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .slide-title{
        font-size: 38px !important;
    }
    .slide-text{
        font-size: 38px !important;
    }
    #video h1{
        font-size: 26px;
    }
    #video h3{
        font-size: 18px !important;
    }
    #budget-call h1, #depoiments-bg h1{
        font-size: 26px;
    }
    #budget-call h4, #depoiments-bg h4{
        font-size: 18px;
    }
    #contact-bg h2{
        font-size: 28px;
    }
    #contact-bg h3{
        font-size: 18px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .slide-title{
        font-size: 38px !important;
    }
    .slide-text{
        font-size: 38px !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .slide-title{
        font-size: 49px !important;
    }
    .slide-text{
        font-size: 40px !important;
    }
}
