@charset "UTF-8";

/*
Ajustes no escopo da página
 */

html,
body,
.view {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: #fff;
}

/*
Novas classes padrões
 */

.my-70 {
  margin-bottom: 70px !important;
  margin-top: 70px !important;
}

.my-60 {
  margin-bottom: 70px !important;
  margin-top: 70px !important;
}

.h600 {
  height: 600px !important;
}

.h400 {
  height: 400px !important;
}

.h300 {
  height: 300px !important;
}

.h200 {
  height: 200px !important;
}

.h3 {
  height: 3px !important;
}

.f20 {
  font-size: 20px !important;
}

.f35 {
  font-size: 35px !important;
}

.l45 {
  line-height: 45px !important;
}

.clear-float {
  clear: both !important;
}

.z-index-5 {
  z-index: 5 !important;
}

.benefits.active {
  background-color: #f9c200 !important;
}

/*
Efeitos de transição
 */

.first-transition-normalY-reversedX {
  background-image: url(/images/first-pattern.png?ef4586c3282b8d8b0805273f13fefc6a);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 2000px 300px;
  position: absolute;
  width: 100%;
  z-index: 3;
  margin-top: -170px;
  transform: scaleX(-1);
}

.second-transition-reversedY-normalX {
  background-image: url(/images/second-pattern.png?e93509428aeaab98dcd2096961040f8c);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 2000px 800px;
  position: absolute;
  width: 100%;
  z-index: 3;
  margin-top: -270px;
  transform: scaleY(-1);
}

.second-transition-normalY-normalX {
  background-image: url(/images/second-pattern.png?e93509428aeaab98dcd2096961040f8c);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 2000px 800px;
  position: absolute;
  width: 100%;
  z-index: 3;
  margin-top: 0px;
}

/*
Backgrounds
 */

.background-logo {
  background-image: url(/images/bg-logo.png?2d2bf19b5385409134476987d3533d1d);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 900px;
  background-attachment: fixed;
}

.residence {
  background: url(/images/residence.jpg?9ab49c151ae7e2e9aec3d5504db5b42c) no-repeat center center;
}

/*
Customização do carousel de apresentação
 */

.carousel {
  height: 100%;
}

.carousel .carousel-inner {
  height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 100%;
}

/*
Customização de barra de navegação
 */

.navbar {
  background-color: rgba(0, 0, 0, 0.2);
}

.top-nav-collapse {
  background-color: #fff;
}

.top-nav-collapse .nav-item .nav-link {
  color: #000 !important;
}

/* Adding color to the Navbar on mobile */

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #fff;
  }

  .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #000 !important;
  }
}

.swiper-projects-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .active {
  background-color: transparent !important;
  border-bottom: 3px solid #fac81a;
  color: #000 !important;
}

.navbar a {
  font-size: 16px;
}

.bg-image {
  max-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section-thin-transition {
  background-image: url(/images/transition.png?628bcb22efa9a50672d91c5883f70d3b);
  background-repeat: no-repeat;
  background-size: 2000px 1300px;
  transform: scaleX(-1);
}

#section-thin-transition-left {
  background-image: url(/images/transition.png?628bcb22efa9a50672d91c5883f70d3b);
  background-repeat: no-repeat;
  background-size: 2000px 1300px;
}

#section-thin-transition-full-left {
  background-image: url(/images/transition-full.png?e39bc0ab80d1513f15be22a733a3b612);
  background-repeat: no-repeat;
  background-size: 2000px 1300px;
}

#section-transition {
  background-image: url(/images/transition2.png?73328434c440317e12afeebe71cb66ea);
  background-repeat: no-repeat;
  background-size: 1400px;
  margin-top: -50px;
}

.slide-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

#first-slide {
  background-image: url(/images/first-slide.jpg?e3529fb4f30378e02ee47b1d0cf117cb);
}

#second-slide {
  background-image: url(/images/second-slide.jpg?da90dae4005a38e0f2481652d107b1af);
}

.card.gradient-card:focus-within {
  margin-top: 0px !important;
  transition: all 0.5s ease-in-out;
}

#video {
  background: url(/images/video.jpg?3718b1aa7919b6587ffc4546ec9740d6) no-repeat center center;
  background-size: auto;
  background-size: cover;
  -o-background-size: cover;
  height: 480px;
}

#footer {
  background: url(/images/footer.jpg?bda1415d5c68b0fcbceae0d5e8436f6e) no-repeat center center;
  background-size: auto;
  background-size: cover;
  -o-background-size: cover;
}

#project-bg {
  background: url(/images/residence.jpg?9ab49c151ae7e2e9aec3d5504db5b42c) no-repeat center center;
  background-size: auto;
  background-size: cover;
  -o-background-size: cover;
}

#depoiments-bg {
  background: url(/images/depoiments.jpg?5c36b7a75802b4ac269defd8cf4f14f1) no-repeat center center fixed;
  background-size: auto;
  background-size: cover;
  -o-background-size: cover;
}

#budget-bg {
  background: url(/images/budget.jpg?f241e0f0023e6555d714cd43ea396872) no-repeat center center fixed;
  background-size: auto;
  background-size: cover;
  -o-background-size: cover;
}

#contact-bg {
  background: url(/images/contact.jpg?9d98c8563df20d22a730c55942fc3337) no-repeat center center fixed;
  background-size: auto;
  background-size: cover;
  -o-background-size: cover;
}

.carousel-control-prev,
.carousel-control-next {
  width: 7% !important;
}

.pic {
  transition: transform 0.2s;
}

.pic:hover {
  transform: scale(0.9);
}

.more-btn:hover {
  background-color: #fff !important;
  color: #fac81a !important;
}

.whatsapp-floating {
  z-index: 6 !important;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 5px;
  left: 5px;
  background-color: #0C9;
}

.slide-title {
  font-weight: bold;
  font-size: 50px;
}

.slide-text {
  font-size: 43px;
  font-weight: bold;
}

.lumen-data {
  position: absolute;
  margin-top: -50px;
  z-index: 3;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 5px !important;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .slide-title {
    font-size: 38px !important;
  }

  .slide-text {
    font-size: 38px !important;
  }

  #video h1 {
    font-size: 26px;
  }

  #video h3 {
    font-size: 18px !important;
  }

  #budget-call h1,
  #depoiments-bg h1 {
    font-size: 26px;
  }

  #budget-call h4,
  #depoiments-bg h4 {
    font-size: 18px;
  }

  #contact-bg h2 {
    font-size: 28px;
  }

  #contact-bg h3 {
    font-size: 18px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .slide-title {
    font-size: 38px !important;
  }

  .slide-text {
    font-size: 38px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .slide-title {
    font-size: 49px !important;
  }

  .slide-text {
    font-size: 40px !important;
  }
}

