// Your custom styles
.navbar .active{
    background-color: #f9c200 !important;
    color: #fff !important;
}

.primary-bg{
    background-color: #f9c200 !important;
}

.primary-text{
    color: #f9c200 !important;
}

.title-section{
    font-size: 170% !important;
}

.fixed-bottom-right-button{
    position: fixed !important;
    bottom: 10px;
    right: 10px;
}
